<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}" />
    <title>medE</title>
  </head>

  <body>
    <div class="container" id="container">
      <!-- Form to Send OTP -->
      
      <div class="form-container sign-up" style="display: flex;flex-direction: column;">
        <img src="{% static 'favicon.png' %}" alt=" medX logo">
       

        <form style="padding: 0;" action="{% url 'forgot_pass2' %}" method="POST">
          {% csrf_token %}
          <input required type="password" name="password" id="password" placeholder="Password" required/>
          <input required type="password" name="c_password" id="c_password" placeholder="Confirm password" required/>
          {% if messages %}
            <div class="messages">
              {% for message in messages %}
                <p class="{{ message.tags }}">{{ message }}</p>
              {% endfor %}
            </div>
            {% endif %}

          <input type="hidden" name="phone_number" value="{{ phone_number }}" />
           
          <button type="submit">Change Password</button>
        </form>
    
      </div>
      
      <div class="toggle-container toggle-right">
        <div class="toggle bg-right">
          <div class="toggle-panel">
            
            <h1>Hello there!</h1>
            <p>Welcome to medE</p>
            <!-- <button id="login"><a href="{% url 'myregister' %}">Register Now</a></button> -->
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    const otpInputs = document.querySelectorAll(".otp-input");
    
    otpInputs.forEach((input, index) => {
      input.addEventListener("input", (event) => {
        const value = event.target.value;
        
        if (value.length === 1 && index < otpInputs.length - 1) {
          otpInputs[index + 1].removeAttribute("disabled");
          otpInputs[index + 1].focus();
        }
      });
    
      input.addEventListener("keydown", (event) => {
        if (event.key === "Backspace") {
          if (index > 0 && input.value === "") {
            otpInputs[index - 1].focus();
          }
        }
      });
    });
    </script>
    
    </html>
